body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.filters {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permette il wrap dei filtri su schermi più piccoli */
}

.filter {
  margin-bottom: 10px;
  width: 100%; /* Fissa la larghezza al 100% su schermi più piccoli */
}

.game-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.game-entry {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px); /* Utilizza il 33.33% della larghezza su schermi più piccoli */
  box-sizing: border-box; /* Evita che il padding influisca sulla larghezza totale */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-entry img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

select, input[type="checkbox"] {
  padding: 5px;
  font-size: 16px;
}
