body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #015bbb;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.filters {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter {
  margin-bottom: 10px;
  margin-right: 10px; /* Aggiunta una spaziatura a destra tra i filtri */
  width: auto; /* Larghezza automatica per adattarsi al contenuto */
}

.game-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

/* Aggiornate le regole per il layout responsive */
@media only screen and (max-width: 720px) {
  .game-section {
    flex-direction: column;
  }

  .game-entry {
    width: calc(100% - 20px);
  }

  .filters {
    flex-direction: column;
    align-items: center; /* Centro gli elementi dei filtri anche verticalmente */
  }

  .filter {
    width: 100%;
    margin-right: 0; /* Rimuovo la spaziatura a destra sui dispositivi mobili */
  }
}

.game-entry {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-entry img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

select, input[type="checkbox"] {
  padding: 5px;
  font-size: 16px;
}
